AWS_REGION=ap-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://localhost:3000

AUTH_URL=http://localhost:3001/api/auth
AUTH_SECRET=a+t8WjHwi27RPm6c8oeGhF8jqNyFoOdIn/dWKorlCMc=
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=